*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 1.5;
}
ul li{
    list-style-type: none;
}
.navbar ul:first-of-type li{
    padding: 14px 18px;
    text-align: center;
}
.parent-ul li:hover{
    background-color: #ccc;
}
.parent-ul li:hover a,.parent-ul li:hover i{
    color: #000;
}
ul li i{
   color: white;
}
.container{
    position: relative;
    width: 100%;
    height: auto;
}
.header{
    top: 0;
    width: 100%;
    height: 52px;
    background-color: black;
    position: fixed;
    z-index: 1;
    display: flex;
}
.search{
    flex-basis: 61%;
    text-align: right;
    align-self: center;
}
.navbar .parent-ul{
    display: flex;
    /* align-items: flex-start; */

}
.navbar .dropdown {
    display: none;
    margin-top: 53px;
    margin-left: -92px;
    flex-direction: column;
    align-items: flex-start;
    background-color: #fff;
}
.navbar  a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}
.navbar .dropdown a{
    color: black;
    padding: 14px 18px;
}
.main{
    position: relative;
    top: 46px;
    width: 100%;
}
.main img{
    width: 100%;
}
.band{
    position: relative;
    top: 120px;
    width: 60%;
    left: 20%;
    height: auto;
    margin-bottom: 34px;
}
.band h2{
    text-align: center;
    text-transform: uppercase;
    font-weight: 200;
    font-size: 30px;
    letter-spacing: 4px;
    margin: 10px 0;
}
.band h2+p{
    font-style: italic;
    text-align: center;
    opacity: 0.6;
    margin: 15px 0;
}
.band .text{
    text-align: justify;
    margin: 15px 0;
}
.band .img-wrapper{
    display: flex;
    padding-bottom: 64px;
}
.band .wrapper1{
    flex: 1;
}
.band .wrapper1 p{
    text-align: center;
    margin: 15px 0;
}
.wrapper1 img{
    width: 60%;
    border-radius: 4px;
    margin-bottom: 16px;
    margin-left: 20%;
}
.tour-dates-wrapper{
    position: relative;
    width: 100%;
    height: 870px;
    top: 135px;
    background-color: black;
}
.tour-dates-sub{
    position: absolute;
    width: 60%;
    left: 20%;
    color: white;
}
.tour-dates-sub h2{
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 300;
    margin: 75px 0 13px;
}
.tour-dates-sub h2+p{
    font-style: italic;
    opacity: 0.6;
    text-align: center;
}
.tour-dates-sub .months{
    margin-top: 30px;
    background-color: white;
    color: #757575;
    list-style-type: none;
}
.months li:not(:last-of-type){
    border-bottom: 1px solid #757575;
}
.months li{
    padding: 10px 20px;
}
.months li:not(:last-of-type) span{
    color: white;
    background-color: #f44336;
    margin-left: 16px;
    text-align: center;
    padding: 1px 8px;
}
.months li:last-of-type span{
    border-radius: 50%;
    background-color: black;
    color: white;
    padding: 4px 8px;
    margin-left: 85%;

}
.city-wrapper-img{
    display: flex;
    padding-top: 32px;
}
.wrapper-img:not(:last-child){
    padding-right: 16px;
    
}
.wrapper-img img{
    width: 100%;
}
.wrapper-img img:hover{
    opacity: 0.6;
}
.wrapper-img img+div{
    padding: 0 10px;
    background-color: white;
    color: black;
}
.wrapper-img .city{
    padding: 15px 0;
    font-weight: bold;
}
.wrapper-img .date{
    padding: 15px 0;
    opacity: 0.6;
}
.wrapper-img p:last-of-type{
    padding-bottom: 16px;
    font-weight: 400;
}
.wrapper-img button{
    margin-bottom: 16px;
    padding: 8px 16px;
    color: #fff;
    background-color: #000;
    border: none;
}
.wrapper-img button:hover{
    color: #000;
    background-color: #ccc;
}
.contact{
    position: relative;
    width: 60%;
    height: auto;
    top: 135px;
    margin:0 auto;
}

.contact-title h2{
    text-align: center;
    font-size: 30px;
    letter-spacing: 4px;
    margin: 15px 0;
    font-weight: 200;
    text-transform: uppercase;
}
.contact-title h2+p{
    text-align: center;
    margin: 15px 0;
    opacity: 0.6;
    font-style: italic;
}
.contact-sub{
    display: flex;
    margin-top: 35px;
}
.info{
    flex-basis: 50%;   
}
.location,.phone,.mail{
    display: flex;
    margin-top: 10px;
}
.info img{
    width: 23px;
}
.info span{
    margin-left: 15px;
    height: max-content;
    font-size: 16px;
}
.inputs{
    flex-basis: 50%;
}
.sub{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    height: 102px;
}
.sub input{
    width: 47%;
    padding: 10px;
}
.sub .message{
    width: 100%;
    margin-bottom: 0px;
}
::placeholder{font-size: 16px;}
.button{
    display: flex;
    justify-content: flex-end;
    padding: 15px 0 75px;
}
.contact button{
    color: #fff;
    background-color: #000;
    padding: 8px 16px;
    font-size: 20px;
    /* margin: 16px 0 75px; */
    
}
.last-img{
    position: relative;
    top: 130px;
}
footer{
    position: relative;
    top: 120px;
    padding: 50px 0;
    text-align: center;
}
footer img{
    opacity: 0.6;
    width: 25px;
}
footer img:hover {
    opacity: 0.3;
}
footer img:not(:last-child){
    margin-right: 3px;

}
footer img:nth-child(4){
    width: 20px;
}
  @media only screen and (max-width:600px) {
    .parent-ul li:not(:first-child){
        display: none;
    }
    .band{
        margin-left: 0px;
        width: 80%;
        position: relative;
    }
    .band .text{
        
        text-align: justify;
        font-size: 14px;
        width: 100%;
        text-overflow: clip;
    }
    .img-wrapper{
        flex-direction: column;
    }
    .tour-dates-sub{
        width: 100%;
     margin-left: 2%; 
    }
    .tour-dates-sub h2,.tour-dates-sub p{
        text-align: center;
    }
    
    .city-wrapper-img{
        flex-direction: column;
    }
} 